<?xml version="1.0" encoding="utf-8"?>

<!-- Tier1 Launch File: Init -->

<launch>

    <!-- Parameters -->
    <!-- <arg name="iRS_info_topic" default="/camera/aligned_depth_to_color/camera_info" /> -->

    <!-- Launch Camera Topics -->
    <include file="$(find realsense2_camera)/launch/rs_camera.launch" >
      	<arg name="enable_depth"      value="true"/>
      	<arg name="enable_color"      value="true"/>

	<arg name="depth_width"       value="640"/>
	<arg name="depth_height"      value="480"/>
	<arg name="depth_fps"         value="30"/>
	<arg name="color_width"       value="640"/>
	<arg name="color_height"      value="480"/>
	<arg name="color_fps"         value="30"/>

        <arg name="enable_pointcloud" value="true"/>
	<arg name="enable_sync"       value="true"/>
        <!-- <arg name="mode" value="manual"/> -->
    </include>

    <!-- Load Intel Realsense "Camera_Info" topic into ROS Parameter Server -->
    <!--tictactoe version,delete me- node name="vision_server" ns="ttt" pkg="tic_tac_toe" type="camera_info_server.py" args="$(arg iRS_info_topic)" respawn="false" / -->
    <!-- <node name="vision_server" pkg="ndi_vision" type="subpcl.cpp" args="$(arg iRS_infotopic)" respawn="false" /> -->
    <node name="vision_server" pkg="ndi_vision" type="initsub.cpp" args="/camera/aligned_depth_to_color/camera_info" respawn="false" />

</launch>
